In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

from scipy import stats
from statistics import stdev
from collections import Counter

from matplotlib import pyplot

from sklearn.model_selection import train_test_split
from sklearn import linear_model

%matplotlib inline

In [2]:
student_data = pd.read_csv("student_education_data.csv")
print(sklearn.__version__)

1.0.2

In [3]:
student_data

,Gender,Nationality,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,PrimaryGuardian,RaisedHand,VisitedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentSchoolSatisfaction,StudentAbsenceDays,Performance
0,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,Average
1,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,Average
2,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,Below Average
3,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,Below Average
4,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,Below Average
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,Average
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,Average
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,Below Average
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,Below Average

In [4]:
'''Students from Kuwait and Jordan birthplaces made a majority of the students, will serve as our sample populations'''

Kuwait_Students = student_data.loc[student_data["PlaceofBirth"]=="Kuwait"]
Kuwait_Students

,Gender,Nationality,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,PrimaryGuardian,RaisedHand,VisitedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentSchoolSatisfaction,StudentAbsenceDays,Performance
0,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,Average
1,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,Average
2,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,Below Average
3,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,Below Average
4,M,Kuwait,Kuwait,PrimarySchool,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,F,Kuwait,Kuwait,PrimarySchool,G-04,A,History,S,Father,80,97,86,95,Yes,Good,Under-7,Average
259,M,Kuwait,Kuwait,PrimarySchool,G-04,A,English,S,Mother,69,34,12,17,No,Bad,Above-7,Below Average
260,M,Kuwait,Kuwait,PrimarySchool,G-04,A,History,S,Father,10,17,12,14,No,Bad,Above-7,Below Average
261,M,Kuwait,Kuwait,PrimarySchool,G-04,A,History,S,Father,61,97,82,64,Yes,Bad,Above-7,Average
262,F,Kuwait,Kuwait,PrimarySchool,G-04,A,History,S,Mother,21,27,52,34,Yes,Good,Above-7,Average

In [6]:
student_data.describe()

       RaisedHand  VisitedResources  AnnouncementsView  Discussion
count  480.000000        480.000000         480.000000  480.000000
mean    46.775000         54.797917          37.918750   43.283333
std     30.779223         33.080007          26.611244   27.637735
min      0.000000          0.000000           0.000000    1.000000
25%     15.750000         20.000000          14.000000   20.000000
50%     50.000000         65.000000          33.000000   39.000000
75%     75.000000         84.000000          58.000000   70.000000
max    100.000000         99.000000          98.000000   99.000000

In [7]:
'''Grab total Number of Kuwait students'''

len(Kuwait_Students)

180

In [ ]:
'''School Age Group as categorization of students'''

Kuwait_StudentsPrimary = Kuwait_Students.loc[Kuwait_Students["StageID"]=="PrimarySchool"]
Kuwait_StudentsMiddle = Kuwait_Students.loc[Kuwait_Students["StageID"]=="MiddleSchool"]
Kuwait_StudentsHigh = Kuwait_Students.loc[Kuwait_Students["StageID"]=="Highschool"]